label.styled {
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
}
label.styled .glyphicon-remove {
    color: #d9534f;
}
label.styled div,
label.styled:before {
    padding: 0 12px;
    line-height: 34px;
    text-align: center;
    background-color: #eee;
    border-right: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 39px;
    height: 100%;
    display: inline-block;
    cursor: auto;
}
label.styled span {
    height: 34px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 500;
}
label.styled:before {
    content: "\e013";
    font-family: "Glyphicons Halflings";
    color: #5cb85c;
    position: absolute;
    top: 0;
    left: 100%;
    transition: all 0.4s ease;
    opacity: 0;
}
label.styled:hover:before {
    left: 95%;
    opacity: 0.5;
}
input.styled {
    display: none;
}

/* :: CHECKED :: */
input.styled:checked ~ label.styled {
    animation: throw 0.5s linear;
}
input.styled:checked ~ label.styled:before {
    left: 0px;
    opacity: 1;
    z-index: 10;
}
